{% extends "base/base.html" %}
{% block titulo %}
Pagina Inicio
{% endblock titulo%}

{% block body %}
<div class="p-5 mb-4 bg-ligth rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"> Bienvenido al sistema</h1>
        <p class="col-md-8 fs-4"> Seccion Personal</p>
        <a name="" id="" class="btn btn-primary btn-lg" href="#" role="button">Lsitado de Personal</a>
    </div> 
    
  </div>
{% endblock body %}

{% block footer%}

{% endblock footer%}





